<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header id="navbar">
    <a id="aLogo" href="/"><img id="logo" width="400px" src="/images/recipehelper.png"></a>
    <div id="searchForm">
      <form id="searchBox" method="post" action="/search">
        <input id="searchInput" type="text" name="query">
        <input id="searchSubmit" type="submit" value="Recipes">
        <input id="searchSubmit-users" type='submit' value='Users' onclick='this.form.action="/search/users";' />

      </form>
    </div>
    <div id="userDisplay">

      {{#if user}}
      <span id="welcome">Welcome, <a href="/users/{{user._id}}">{{sentence-case user.username}}</a></span>
      <a id="userStuff" href="/logout">Sign out</a>
      {{else}}
      <a id="userStuff" href="/signup">
        Sign up
      </a> or
      <a id="userStuff" href="/login">
        Log in
      </a>
      {{/if}}




    </div>
  </header>
  <div id="body-container">
    {{{body}}}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.0.slim.js"
    integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>



</body>


</html>