<h1>{{sentence-case foundUser.username}}</h1>
<img id="avatar" src="{{foundUser.avatar}}">
<a href="/followUser/{{foundUser._id}}"><br>
  <button>Follow this user</button></a>
<ul>
  {{#each userRecipes}}
  <li>
    <h2><a href="/api/recipes/{{this.recipeId}}">{{this.title}}</a></h2>
  </li>

  {{/each}}
</ul>