<div id="recipe">
  <a href="{{data.sourceUrl}}"><button>View original recipe online</button></a><br>
  <img id="dishImage" src="{{data.image}}">
  <h1 id="recipeTitle">{{data.title}}</h1>
  <a href="/api/nutrition/{{data.id}}"><button>Get nutrition information</button></a>
  <ul id="ingredients">
    {{#if data.vegan}}
    <li>Vegan <br></li>
    {{/if}}
    {{#if data.vegetarian}}
    <li>Vegetarian <br></li>
    {{/if}}
    {{#if data.ketogenic}}
    <li>Keto <br></li>
    {{/if}}
    {{#if data.veryPopular}}
    <li>Popular <br></li>
    {{/if}}
  </ul>
  {{#if data.preparationMinutes}}
  <h3><img src="/images/clock.png" width="15px"> {{data.preparationMinutes}} minutes to prepare</h3>
  {{/if}}
  <p id="description">{{data.instructions}}</p>
  <ul>
    {{#each data.extendedIngredients}}
    <li>{{this.originalString}}</li>
    {{/each}}
  </ul>
  <br><br>
  <a href="/save/{{data.id}}"><button>Add to My Recipes</button></a><br><br>

  <form method="post" action="/textRecipe">
    <input type="tel" name="telphone" placeholder="8888888888" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" maxlength="12"
      title="##########" required />
    <input type="text" name="ingredients" value="{{#each data.extendedIngredients}} - {{this.originalString}}{{/each}}"
      hidden>
    <button>Text me these ingredients</button>
  </form>
</div>